*{
    padding: 0;
    margin: 0;
}
h2{
    font-size: 20px;
}
h4{
    font-size: 18px;
}

.fs-14{
    font-size: 14px;
}

.bg{
    background-image: url(../image/back-image.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    /*max-width: 100%;
    height: auto;
    background-repeat: no-repeat;*/
}
.box-effect {
    background: gray;
    background-color: white;
    border-bottom-right-radius: 200px;
    border-bottom-left-radius: 200px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    width: 375px;
    padding: 30px 20px 100px;
    padding-top: 20px;

}

.text_align{
    text-align: center;
}
.font_color{
   color: rgba(163,31,52,255);
}
.font_color_button{
    background-color: rgba(163,31,52,255);
        color: white;
    border-radius: 25px;
    padding: 10px;
    padding-right: 50px;
    padding-left: 50px;
 }
.font_color_button:hover{
    color: white;
}
 .font_color_button_footer{
    background-color: rgba(163,31,52,255);
    color: white;
 }
.text_align_right{
    text-align:right;
}

  hr {
    width: 80px;
    height: 5px;
    background-color: #a31f34;
    opacity:  0.5;
    margin-top: 0;
    margin-bottom: 0.5rem;
}
.box{
    border: 0;
    border-bottom: 1px solid #ccc;
}
.icon_align{
    position: relative;
    bottom: 30px;
    left: 310px;
    color: gray;
}
.remfor_padding{
    padding-left: 10px;
}
.cf_padding{
    padding-left: 200px;
}
/*.zero1{
    margin-top: 0;
}
.zero{
    margin-top: 0;
}*/
.font_size_inner{
    font-size: 16px;
}
.margin_top{
    margin-top: 20px;
}


@media(max-width: 576px){
    /*.box-effect{
        padding:30px;
        width: 340px;
    }*/
    .text_align_right{
        text-align: center;
    }
    .icon_align{
        left: 260px;
    }
    .cf_padding{
        padding-left: 20px;
    }
    .bg{
        background-size: auto;
    }
    .fs-14{
        font-size: 16px;
    }
    .box-effect {
        width: 300px;
    }
  }
  @media(min-width: 768px) and (max-width: 1200){
    .box-effect{
        padding:100px 30px 150px;
        width: 500px;
        height: 650px;
    }
    h2{
        font-size: 34px;
    }
    h4{
        font-size: 30px;
    }
    
    .fs-14{
        font-size: 20px;
    }
    small{
        font-size: 18px;
    }
    .zero1{
        margin-top: 15px;
    }
    .zero{
        margin-top: 20px;
    }
    .remfor_padding{
        padding-left: 20px;
    }
    .cf_padding{
        padding-left: 120px;
    }
    .font_size_inner{
        font-size: 20px;
    }
    /*.font_color_button{
        padding: 15px;
        border-radius: 30px;
    }*/
    .margin_top{
        margin-top: 30px;
    }
}


